@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe, b, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, em, font, img, q, s, samp, small, strike, strong, sub, sup,  u, i, center, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td
{ margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; list-style:none;}
body { font-family:"Microsoft Yahei",'Hiragino Sans GB',"Simsun","Arial"; font-size:12px; color:#323232; line-height:1; background:#fff; word-break:break-all;}
a:link, a:visited{text-decoration:none;color:#323232;}
a:hover{text-decoration:underline; color:#ff2832;}
input:focus, select { outline: none; }
.clear { clear:both; height:0px; margin:0; padding:0; width:0; border:none; overflow:hidden; _font-size:0px; _line-height:0px; }
.clearfix:after { clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden}
.fl { float:left;} .fr { float:right;}
*html .clearfix { zoom:1; }
.w960 { width:960px; margin:0 auto;}
.btn{ border:1px solid rgb( 220, 220, 220 ); border-radius: 2px; color:#000; display:inline-block; *display:inline; *zoom:1; line-height:22px; padding:0 10px; height:22px; margin-right:10px; vertical-align:baseline;
	background: -moz-linear-gradient( 90deg, rgb(244,243,246) 0%, rgb(254,254,254) 100%);
	background: -webkit-linear-gradient( 90deg, rgb(244,243,246) 0%, rgb(254,254,254) 100%);
	background: -ms-linear-gradient( 90deg, rgb(244,243,246) 0%, rgb(254,254,254) 100%); background:#f5f5f5\9;}
.btn:hover { text-decoration:none; background:#f0f0f0; color:#000;}
.btn .bicon { display:inline-block; width:8px; height:8px; background:url(../img/icon_bg.png) -14px 0 no-repeat; margin-left:6px; *vertical-align:middle;}
.btn .bicon.a_d { background-position:-14px -20px;}
.btn .bicon.a_u { background-position:0 -20px;}
a.btn_red { background-color:#ff2832; height:30px; line-height:30px; text-align:center; display: inline-block; color:#fff; font-size:14px; padding:0 14px; border-radius:3px; vertical-align:baseline; vertical-align:bottom\9;}
a.btn_red:hover { text-decoration:none;}
a.btn_red.disable { background-color:#d2d2d2; cursor:default;}
a.btn_red.big { padding:0 28px;}
input.alart { border-color:#ff2832 !important; color:#ff2832 !important; background-color:#fdf0ef;}
.alart_tip { position:absolute; left:10px; top:42px; color:#ff2832;}
.icon_wrong { width:9px; height:9px; display:inline-block; background:url(../img/icon_bg.png) 0 -40px no-repeat; margin-right:4px; *vertical-align:middle;}
a.modify { color:#1a66b3; padding-left:10px; font-size:12px; font-weight:normal;}
a.link { color:#1a66b3; padding:0 5px;}
.red { color:#ff2832;}
a.check { width:14px; height:16px; display:inline-block; margin-right:5px; background:url(../img/icon_bg.png) -14px -80px no-repeat; vertical-align: middle;}
a.check.checked { background-position:0 -80px;}
a.check.disable { cursor:default;  background-position:-14px -180px;}
.icon_ask { width:14px; height:14px; display:inline-block; background:url(../img/icon_bg.png) 0 -100px no-repeat; vertical-align:middle; margin:0 4px; cursor:pointer;}
.icon_tip { width:18px; height:18px; display:inline-block; background:url(../img/icon_bg.png) 0 -140px no-repeat; margin:0 10px 0 0; vertical-align:middle;}
.icon_tip_s { width:14px; height:14px; display:inline-block; background:url(../img/icon_bg.png) 0 -160px no-repeat; vertical-align: text-bottom; margin:0 6px 0 0;}
.icon_ok { width:10px; height:10px; display:inline-block; background:url(../img/icon_bg.png) -18px -161px no-repeat; vertical-align: text-bottom; margin:0 2px 0 0;}

/*logo*/
.logo_line { width:100%; border-bottom:4px solid #ff2832; height:100px;}
.logo_line .logo { padding:20px 0 0 15px;}
.shopping_procedure { float:right; width:634px; height:36px; background:url(../img/procedure_bg.png) 0 0 no-repeat;font:bold 14px/36px "Microsoft Yahei";color:#646464; margin:30px 0 0;}
.shopping_procedure span { width:211px; display:inline-block; text-align:center;}
.shopping_procedure span a { display:block; color:#646464; width:100%;}
.shopping_procedure span.current { color:#fff; width:206px;}

/* layout */
.checkout_tip { background-color:#fff5f5; border:1px solid #ffecec; color:#323232; line-height:34px; padding:0 10px; margin:10px auto 0;}
.checkout_tip b { display:inline-block;}
.checkout_tip .con { display:inline-block; *display:inline; *zoom:1; vertical-align:top; line-height:24px; padding:6px 0;}

h1.title { font-size:16px; color:#000; line-height:22px; padding:10px 0; font-weight:bold;}
h1.title .title_tip { font-size:12px; color:#ff2832; padding-left:10px;}

.address { padding: 0 0 20px;}
.address .addr_list { height:140px; overflow:hidden; position:relative;}
.addr_list ul { width:955px; overflow:hidden;}
.addr_list.all { height:272px; overflow-y:auto; margin-bottom:15px;}
.addr_list .addr { width:192px; padding:8px 12px 0 12px; height:114px; float:left; line-height:22px; background:#fbfbfb; margin:0 18px 20px 0; position:relative; color:#000; border:2px solid #e6e4e2; cursor:pointer;}
.addr_list .addr a { display:none; color:#b17474; padding:4px 12px 0 8px;}
.addr_list .addr.active { border-color:#ff2832;}
.addr_list .addr.operate a { display:inline-block; *display:inline; *zoom:1;}
.addr_list .addr h1 { font-weight:bold; line-height:30px; border-bottom:1px solid #e6e6e6; padding:0 8px; margin-bottom:4px;}
.addr_list .addr h1 span { float:right;}
.addr_list .addr p { height:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0 0 0 8px;}
.addr_list .addr .addr_mo { display:block; position:absolute; bottom:14px; right:14px; color:#956767; line-height:14px;}
.addr_list .addr .addr_mo em { background:url(../images/icon_bg.png) 0 0 no-repeat; display:inline-block; width:10px; height:14px; margin-right:5px; vertical-align:bottom;}

.id_check { line-height:18px; padding-bottom:10px;}
.id_check dt, .id_check dd { display:inline-block; *display:inline; *zoom:1; padding:10px 0 5px;}
.id_check dt { width:80px; text-align:right; color:#646464;}
.id_check dd { width:840px; position:relative; padding: 10px 0 5px 20px;}
.id_check dd input { height:18px; width:140px; padding:5px 10px; border:1px solid #d2d2d2; border-radius:3px; margin:0 10px 0 -10px; vertical-align: bottom;}

/* 配送方式 */
.shipping { padding:0 0 10px;}
.shipping .title, .payment .title { font-size:14px; color:#505050; line-height:18px; padding:5px 0 10px;}
.shipping .title .icon { width:18px; height:18px; display:inline-block; background:url(../img/icon.png) 0 0 no-repeat; vertical-align:text-bottom; margin-right:10px;}
.shipping .title .icon.shop { background-position:-20px 0;}
.shipping .title .icon.ebook { background-position:-40px 0;}
.shipping .title .icon.gift { background-position:-60px 0;}
.ship_box { border:1px solid #dcdcdc; line-height:20px; margin-bottom:20px; background:url(../images/bg_line.gif) 320px 0 repeat-y;}
	.ship_box .main {}
	.ship_box .left { padding:18px 16px; width:289px; float:left;}
	.ship_box .left p, .ship_box .left .time { padding:6px 0; position:relative;}
	.ship_box .left .time { z-index:9;}
	.ship_box .left .time select {  border:1px solid #dcdcdc; border-radius:2px; height:20px; padding-left:5px; font-family:microsoft yahei; font-size:12px; color:#323232;}
	.ship_box .left .time .week { background-color:#fff; position:absolute; left:0; bottom:-182px; z-index:9; text-align:center; width:430px;}
	.ship_box .left .time .week .method {border:1px solid #dcdcdc; border-bottom:none 0; padding:10px 0 0 10px; text-align:left;}
	.ship_box .left .time .week .method a { height:22px; line-height:22px; width:108px;}
	.ship_box .left .time .week table { border:1px solid #dcdcdc; border-right:none 0;}
	.ship_box .left .time .week th { font-weight:normal; line-height:14px; padding:4px 0; border-right:1px solid #dcdcdc;}
	.ship_box .left .time .week td { border-top:1px solid #dcdcdc; text-align:center; padding:4px 0; border-right:1px solid #dcdcdc;}
	.ship_box .left .time .week td a { width:15px; height:15px; display:inline-block; background:url(../images/icon.png) -40px -20px no-repeat;}
	.ship_box .left .time .week td a.disable { background-position:-60px -19px; cursor:default;}
	.ship_box .left .time .week td a.current { background-position:-78px -19px;}
	.ship_box .left .time .week .btn_bar {border:1px solid #dcdcdc; border-top:none 0; padding:8px 0;}
	.ship_box .left .time .week .btn_bar .btn_red { height:24px; line-height:24px; margin-right:30px;}
	.ship_box .left .addr_t { padding:0 0 0 20px;}
	.ship_box .left .addr { padding-left:20px; color:#646464; display:block;}
	.ship_box p.method_tip { margin-top:-15px; padding:6px 0 10px;}
	.ship_box .method li { display:inline-block; *display:inline; *zoom:1; padding:0 10px 10px 0;}
	.ship_box .method a { height:28px; line-height:28px; text-align:center; width:94px; border:1px solid #dcdcdc; border-radius:2px; background-color:#f0f0f0; display:block;}
	.ship_box .method a:hover { text-decoration:none; color:#ff2832;}
	.ship_box .method a.current { background:#ff2832; border-color:#ff2832; color:#fff;}
	.ship_box .right { float:left; width:637px;}
	.ship_box .right .list { text-align:center;}
	.ship_box .right .list th { line-height:36px; font-weight:normal;}
	.ship_box .right .list th.th_img { width:96px;}
	.ship_box .right .list th.th_name { width:265px;}
	.ship_box .right .list td { width:90px; text-align:center; vertical-align:top; padding-bottom:10px; position:relative;}
	.ship_box .right .list .img { width:80px; height:70px; padding-left:15px; position:relative;}
	.ship_box .right .list .img .icon, .pop .out_list .img .icon, .pop .out_area .v_out ul li.img .icon {position: absolute; bottom: 10px; left:15px;  width: 80px; height: 20px; padding-top:5px; background: url(../images/icon_event.png) 0 0 no-repeat;  color: #fff; text-align: center; line-height: 20px; overflow: hidden;}
	.ship_box .right .list .img .icon.yellow { background-position: 0 -25px;}
	.ship_box .right .list .img .icon.blue { background-position:0 -50px;}
	.ship_box .right .list .img .icon.rose { background-position:0 -75px;}
	.ship_box .right .list .img .icon.green { background-position:0 -100px;}
	.ship_box .right .list .img .icon.sky { background-position:0 -125px;}
	.ship_box .right .list .name { width:255px; text-align:left; padding-left:5px; position:relative;}
	.ship_box .right .list .name a { height:40px; overflow:hidden; display:block;}
	.ship_box .right .list .name .seven { color:#956767; padding-top:10px;}
	.ship_box .right .list .name .seven .icon_7 { width:20px; height:20px; display:inline-block; background:url(../images/icon.png) 0 -20px no-repeat; margin-right:5px; vertical-align:bottom;}
	.ship_box .right .list .name .seven.disable { color:#d1c2c2;}
	.ship_box .right .list .name .disable .icon_7 { background-position:-20px -20px;}
	.ship_box .right .list .name .ebtn { padding: 0 16px 0 6px;  display: inline-block; height: 20px; line-height: 20px; color: #fff;  border-radius: 2px; background: url(../images/icon_bg.png) 58px -175px no-repeat #ff6666; margin-left:10px;}
	.ship_box .right .list .name .ebtn:hover { text-decoration:none;}
	.ship_box .right .list .name .goods_pop { position:absolute; z-index:9; background-color:#fff; border:1px solid #dcdcdc; padding:15px 15px 0; width:310px; left:-77px; top:76px;}
	.ship_box .right .list .name .goods_pop ul { max-height:265px; overflow:auto;}
	.ship_box .right .list .name .goods_pop li { height:70px; margin-bottom:15px;}
	.ship_box .right .list .name .goods_pop li .pic { float:left; margin-right:10px;}
	.ship_box .right .list .name .goods_pop li .g_name { height:40px; overflow:hidden; margin-bottom:12px;}
	.ship_box .right .list .block { display:block; line-height:15px;}
	.ship_box .right .promo_title { height:40px; line-height:40px; border-top:1px solid #e0e0e0; border-bottom:1px dotted #e0e0e0; margin:0 0 10px 20px; padding-left:10px;}
	.ship_box .right .promo_total { height:36px; line-height:36px; border-bottom:1px solid #f0f0f0; background-color:#f6f8f8; text-align:right; margin:0 0 10px 20px;}
	.ship_box .right .promo_total em { font-style:normal; padding-right:40px;}
	.ship_box .right .subpackage_title { padding:0 20px; height:40px; line-height:40px; border-bottom:1px solid #e0e0e0; background-color:#f5f5f5;}
	.ship_box .right .subpackage_title .charge { padding-left:15px;}
	.ship_box .sub { clear:both; background-color:#f1f5f8; border-top:1px solid #dcdcdc; padding:5px 10px 5px 18px; line-height:24px;}
	.ship_box .sub .sub_left { display:inline-block; *display:inline; *zoom:1; width:410px; vertical-align:top;}
	.ship_box .sub .sub_left input[type="text"] { height: 18px; line-height:18px; width:210px; padding: 5px 10px; border: 1px solid #d2d2d2; border-radius:2px; margin:0 5px 10px 10px; *vertical-align:top; color:#c2c2c2; font-size:12px;}
	.ship_box .sub .sub_left textarea { width:296px; padding:2px; border: 1px solid #d2d2d2; border-radius: 2px; margin:0 4px; vertical-align:top; line-height:18px; height:36px; resize:none;font-family:microsoft yahei; font-size:12px;}
	.ship_box .sub .sub_left .txt_n { color:#666; vertical-align:bottom;}
	.ship_box .sub .sub_left .alart_tip { position:static;margin: -10px 0 0 48px;display: block;}
	.ship_box .sub .sub_left .alart_tip.normal { color:#666;}
	.ship_box .sub .sub_left .gift_name { color:#646464; line-height:30px; display:inline-block;}
	.ship_box .sub .sub_right { display:inline-block; *display:inline; *zoom:1; width:515px; text-align:right; vertical-align:bottom;}
	.ship_box .sub .sub_right span.tab { padding-left:25px;}
	.ship_box .sub .sub_right span.price { width:76px; display:inline-block; text-align:left;}
	.ship_box .sub .sub_right span.price.red { font-size:14px; font-weight:bold;}
.ship_box { border:1px solid #dcdcdc; line-height:20px; margin-bottom:20px; background:url(../images/bg_line.gif) 320px 0 repeat-y;}
.ship_box .main {}
.ship_box .left { padding:18px 16px; width:289px; float:left;}
.ship_box .left p, .ship_box .left .time { padding:6px 0; position:relative;}
.ship_box .left .time { z-index:9;}
.ship_box .left .time select {  border:1px solid #dcdcdc; border-radius:2px; height:20px; padding-left:5px; font-family:microsoft yahei; font-size:12px; color:#323232;}
.ship_box .left .time .week { background-color:#fff; position:absolute; left:0; bottom:-182px; z-index:9; text-align:center; width:430px;}
.ship_box .left .time .week .method {border:1px solid #dcdcdc; border-bottom:none 0; padding:10px 0 0 10px; text-align:left;}
.ship_box .left .time .week .method a { height:22px; line-height:22px; width:108px;}
.ship_box .left .time .week table { border:1px solid #dcdcdc; border-right:none 0;}
.ship_box .left .time .week th { font-weight:normal; line-height:14px; padding:4px 0; border-right:1px solid #dcdcdc;}
.ship_box .left .time .week td { border-top:1px solid #dcdcdc; text-align:center; padding:4px 0; border-right:1px solid #dcdcdc;}
.ship_box .left .time .week td a { width:15px; height:15px; display:inline-block; background:url(../images/icon.png) -40px -20px no-repeat;}
.ship_box .left .time .week td a.disable { background-position:-60px -19px; cursor:default;}
.ship_box .left .time .week td a.current { background-position:-78px -19px;}
.ship_box .left .time .week .btn_bar {border:1px solid #dcdcdc; border-top:none 0; padding:8px 0;}
.ship_box .left .time .week .btn_bar .btn_red { height:24px; line-height:24px; margin-right:30px;}
.ship_box .left .addr_t { padding:0 0 0 20px;}
.ship_box .left .addr { padding-left:20px; color:#646464; display:block;}
.ship_box p.method_tip { margin-top:-15px; padding:6px 0 10px;}
.ship_box .method li { display:inline-block; *display:inline; *zoom:1; padding:0 10px 10px 0;}
.ship_box .method a { height:28px; line-height:28px; text-align:center; width:94px; border:1px solid #dcdcdc; border-radius:2px; background-color:#f0f0f0; display:block;}
.ship_box .method a:hover { text-decoration:none; color:#ff2832;}
.ship_box .method a.current { background:#ff2832; border-color:#ff2832; color:#fff;}
.ship_box .right { float:left; width:637px;}
.ship_box .right .list { text-align:center;}
.ship_box .right .list th { line-height:36px; font-weight:normal;}
.ship_box .right .list th.th_img { width:96px;}
.ship_box .right .list th.th_name { width:265px;}
.ship_box .right .list td { width:90px; text-align:center; vertical-align:top; padding-bottom:10px;}
.ship_box .right .list .img { width:80px; height:70px; padding-left:15px; position:relative;}
.ship_box .right .list .img .icon, .pop .out_list .img .icon, .pop .out_area .v_out ul li.img .icon {position: absolute; bottom: 10px; left:15px;  width: 80px; height: 20px; padding-top:5px; background: url(../images/icon_event.png) 0 0 no-repeat;  color: #fff; text-align: center; line-height: 20px; overflow: hidden;}
.ship_box .right .list .img .icon.yellow { background-position: 0 -25px;}
.ship_box .right .list .img .icon.blue { background-position:0 -50px;}
.ship_box .right .list .img .icon.rose { background-position:0 -75px;}
.ship_box .right .list .img .icon.green { background-position:0 -100px;}
.ship_box .right .list .img .icon.sky { background-position:0 -125px;}
.ship_box .right .list .name { width:255px; text-align:left; padding-left:5px; position:relative;}
.ship_box .right .list .name a { height:40px; overflow:hidden; display:block;}
.ship_box .right .list .name .seven { color:#956767; padding-top:10px;}
.ship_box .right .list .name .seven .icon_7 { width:20px; height:20px; display:inline-block; background:url(../images/icon.png) 0 -20px no-repeat; margin-right:5px; vertical-align:bottom;}
.ship_box .right .list .name .seven.disable { color:#d1c2c2;}
.ship_box .right .list .name .disable .icon_7 { background-position:-20px -20px;}
.ship_box .right .list .name .ebtn { padding: 0 16px 0 6px;  display: inline-block; height: 20px; line-height: 20px; color: #fff;  border-radius: 2px; background: url(../images/icon_bg.png) 58px -175px no-repeat #ff6666; margin-left:10px;}
.ship_box .right .list .name .ebtn:hover { text-decoration:none;}
.ship_box .right .list .name .goods_pop { position:absolute; z-index:9; background-color:#fff; border:1px solid #dcdcdc; padding:15px 15px 0; width:310px; left:-77px; top:76px;}
.ship_box .right .list .name .goods_pop ul { max-height:265px; overflow:auto;}
.ship_box .right .list .name .goods_pop li { height:70px; margin-bottom:15px;}
.ship_box .right .list .name .goods_pop li .pic { float:left; margin-right:10px;}
.ship_box .right .list .name .goods_pop li .g_name { height:40px; overflow:hidden; margin-bottom:12px;}
.ship_box .right .list .block { display:block; line-height:15px;}
.ship_box .right .promo_title { height:40px; line-height:40px; border-top:1px solid #e0e0e0; border-bottom:1px dotted #e0e0e0; margin:0 0 10px 20px; padding-left:10px;}
.ship_box .right .promo_total { height:36px; line-height:36px; border-bottom:1px solid #f0f0f0; background-color:#f6f8f8; text-align:right; margin:0 0 10px 20px;}
.ship_box .right .promo_total em { font-style:normal; padding-right:40px;}
.ship_box .right .subpackage_title { padding:0 20px; height:40px; line-height:40px; border-bottom:1px solid #e0e0e0; background-color:#f5f5f5;}
.ship_box .right .subpackage_title .charge { padding-left:15px;}
.ship_box .sub { clear:both; background-color:#f1f5f8; border-top:1px solid #dcdcdc; padding:5px 10px 5px 18px; line-height:24px;}
.ship_box .sub .sub_left { display:inline-block; *display:inline; *zoom:1; width:410px; vertical-align:top;}
.ship_box .sub .sub_left input[type="text"] { height: 18px; line-height:18px; width:210px; padding: 5px 10px; border: 1px solid #d2d2d2; border-radius:2px; margin:0 5px 10px 10px; *vertical-align:top; color:#c2c2c2; font-size:12px;}
.ship_box .sub .sub_left textarea { width:296px; padding:2px; border: 1px solid #d2d2d2; border-radius: 2px; margin:0 4px; vertical-align:top; line-height:18px; height:36px; resize:none;font-family:microsoft yahei; font-size:12px;}
.ship_box .sub .sub_left .txt_n { color:#666; vertical-align:bottom;}
.ship_box .sub .sub_left .alart_tip { position:static;margin: -10px 0 0 48px;display: block;}
.ship_box .sub .sub_left .alart_tip.normal { color:#666;}
.ship_box .sub .sub_left .gift_name { color:#646464; line-height:30px; display:inline-block;}
.ship_box .sub .sub_right { display:inline-block; *display:inline; *zoom:1; width:515px; text-align:right; vertical-align:bottom;}
.ship_box .sub .sub_right span.tab { padding-left:25px;}
.ship_box .sub .sub_right span.price { width:76px; display:inline-block; text-align:left;}
.ship_box .sub .sub_right span.price.red { font-size:14px; font-weight:bold;}
>>>>>>> .theirs
/* 发票 */
.invoice { color:#000; padding-bottom:20px;}
.invoice p { line-height: 24px; padding: 4px 0;}
.invoice_list { border:1px solid #dbdbdd; padding:5px 10px; margin-top:5px;}
.invoice_list li { line-height:48px; border-bottom:1px dotted #dbdbdb; padding-left:10px;}
.invoice_list li.last { border:none 0;}
.invoice_list li .title { font-size:14px; color:#505050; padding-right:20px;}

.payment { line-height:36px; padding:5px 0 15px;}
.payment li { padding-bottom:15px;}
.payment .btn_pay { width:210px; text-align:center; height:34px; line-height:34px; font-size:14px; display:inline-block; border:1px solid #dcdcdc; background-color:#f0f0f0; border-radius:4px; margin-right:20px;}
.payment .btn_pay:hover { color:#ff2832; text-decoration:none; background-color:#fdf0ef; border-color:#ff2832;}
.payment .btn_pay.current { color:#fff; background:#ff2832; border-color:#ff2832; text-decoration:none;}
.payment .btn_pay.disabled,.payment .btn_pay.disabled:hover { background-color:#f5f5f5; border-color:#f5f5f5; color:#aaa; cursor:default;}
.payment .info { display:inline-block; *display:inline; *zoom:1; position:relative;}
.icon_add { width:6px; height:6px; display:inline-block; background:url(../images/icon_bg.png) -14px -40px no-repeat; margin:0 3px; vertical-align:middle;}
.pop_goods { padding:0 0 15px 20px; width:455px; background:#fff; position:absolute; left:0; top:28px; z-index:3; border:1px solid #dcdcdc; text-align:center;}
.pop_goods p { text-align:left;}
.goods_list { max-height:176px; overflow:auto; text-align:left;}
.goods_list dd { width:70px; height:70px; margin:0 14px 18px 0; display:inline-block; *display:inline; *zoom:1;}
.goods_list dd img { width:70px; height:70px;}
.pop_txt { padding:10px 20px; width:435px; background-color:#fffce2; border:1px solid #f7ed94; z-index:3; line-height:24px; color:#505050; position:absolute; left:0; top:30px; text-align:left;}
.pop_txt p span { padding-right:10px;}
.pop_txt p.line { border-top:1px solid #f7ed94; padding-top:6px; margin-top:8px;}
.instalments li { display:inline-block; *display:inline; *zoom:1; width:232px; height:230px; position:relative; padding-bottom:0;}
.instalments li .tab { position:absolute; left:0; top:60px; text-align:center; line-height:28px; border:1px solid #e6e6e6; border-bottom:0; background-color:#fff;}
.instalments li th { text-align:left; padding-left:19px; font-weight:normal;}
.instalments li td { border-bottom:1px solid #e6e6e6;}
.instalments li .name td { background-color:#f0f0f0;}

/*new支付方式20190215*/
.payment.new_payment ul.ul_list{width:996px;}
.payment.new_payment li.aa {float: left;position:relative;}
.payment.new_payment .btn_pay{margin-right: 37px;position:relative;}
.payment.new_payment .icon-jiantouxi-xiafang {margin-left: 5px;font-size: 14px;color: #323232;vertical-align: middle;}
.payment.new_payment .icon-tanhao- {position: absolute;right: 10px;font-size: 14px;color: #323232;}
.payment.new_payment .btn_pay:hover .icon-tanhao- {color: #ff2832;}
.payment.new_payment .btn_pay:hover .icon-jiantouxi-xiafang {color: #ff2832;}
.payment.new_payment .drop_list {position: absolute;color: #323232;left: 0;top: 36px;background: white;width: 212px;box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);border-radius: 2px;text-align: center;font-size: 12px;line-height: 1;}
h1.title .title_tip{color: #FF463C;}
.payment.new_payment .drop_list .tips {margin: 18px 0;}
.payment.new_payment .btn_pay.current .icon-jiantouxi-xiafang,.payment .btn_pay.current .icon-tanhao-{color: white;}
.payment.new_payment .drop_list .list li {padding: 11px 0;background: #F0F0F0;border: 1px solid #DCDCDC;border-radius: 18px;width: 169px;margin: 0 auto 16px;}
.payment.new_payment .drop_list .list li:hover {color: #ff2832;text-decoration: none;background-color: #fdf0ef;cursor: pointer;border-color: #ff2832;}
.payment.new_payment .drop_list .list li.disabled,.payment.new_payment .drop_list .list li.disabled:hover {background-color: #f5f5f5;border-color: #f5f5f5;color: #aaa;cursor: default;}
.payment.new_payment .btn_pay.current:hover .icon-tanhao- {color: white;}
.payment.new_payment .btn_pay.current{background: #FF463C;}
.icon_tip_s{width: 14px;height: 14px;display: inline-block;background: url(../images/remind.png) 0 0 no-repeat;background-size: 100% 100%;vertical-align: text-bottom;margin: 0 6px 0 0;}

.pay_list { border-top:1px solid #e6e6e6; padding:10px 0 20px 10px;}
.pay_list .pay_title { height:13px; line-height:13px; padding:15px 0 5px; color:#646464;}
.pay_list .pay_title .op { display:inline-block; width:13px; height:13px; background: url(../images/icon_bg.png) 0 -120px no-repeat; margin-right:10px; vertical-align:top;}
.pay_list .pay_title .op:hover { text-decoration:none;}
.pay_list .pay_title .op.open { background-position:-14px -120px;}
.pay_list .pay_title .title { color:#323232; padding-right:13px;}
.pay_list .pay_detail { padding:0 0 5px 23px; line-height:30px; color:#646464;}
.pay_detail .red{ font-weight:bold;}
.pay_detail input[type="text"] { height: 28px; line-height: 28px; width:88px; padding: 0 5px; border: 1px solid #d2d2d2; margin:5px 8px 5px; background-color:#e6e6e6; text-align:center; *vertical-align:middle; font-family:microsoft yahei;}
.pay_detail select { height: 30px; line-height:30px; width:100px; padding: 0 0 0 5px; border: 1px solid #d2d2d2; margin:0 0 0 8px; background-color:#e6e6e6; position:relative; top:-1px\9\0; top:3px\9; *vertical-align:middle;  font-family:microsoft yahei; color:#505050;}
.pay_detail input.bg, .pay_detail select.bg { background-color:#fff;}
/* 礼券运费券列表 out
.cupon_area { position:relative; margin:4px 0; padding-top:31px;}
.cupon_box_over { max-height:185px; overflow-y:auto; overflow-x:hidden; position:relative; border-bottom:1px solid #e6e6e6;}
.cupon_box { border:1px solid #e6e6e6; border-top: 0; border-bottom:0; text-align:center;}
.fix_box { position:absolute; top:0; left:0; background-color:#fff; z-index:9; border-bottom: none 0; border-top:1px solid #e6e6e6;}
.cupon_box .deep td { background-color:#f5f5f5;}
.cupon_box tr:hover td { background-color:#e6e6e6;}
.cupon_box .disable td { color:#a0a0a0;}
.cupon_box tr.disable:hover td { background-color:#fff;}
.cupon_box tr .name { width:190px;}
.cupon_box tr .msg { width:160px;}
.cupon_box tr .row1 { width:50px; }
.cupon_box tr .row2 { width:70px;} */
.cupon_area { border:1px solid #e6e6e6;}
.cupon_area .tab { height:36px; line-height:36px; width:100%;}
.cupon_area .tab li { width:463px; float:left; font-size:14px; text-align:center; background-color:#f5f5f5}
.cupon_area .tab li.on { background-color:#fff; width:462px;}
.cupon_box { max-height:327px; overflow-y:auto; overflow-x:hidden; margin:20px 0 0 20px; position:relative;}
.cupon_box ul { width:910px; padding-bottom:1px; *padding-bottom:0;}
.cupon_box ul.border { border-top:1px dotted #aaa; padding-top:15px;}
.cupon_box li { width:280px; height:70px; display:inline-block; *display:inline; *zoom:1; padding-top:24px; margin:0 20px 4px 0; *margin:0 20px 15px 0; background:url(../images/cupon_01.png) 0 0 no-repeat; line-height:24px; position:relative; cursor:pointer;}
.cupon_box li .left_c { width:80px; padding-left:15px; color:#fff; float:left;}
.cupon_box li .left_c em { font-style:normal; font-size:14px; font-weight:bold; line-height:18px;}
.cupon_box li .left_c span { font-size:24px; padding-left:5px; font-weight:bold;}
.cupon_box li .right_c { padding-left:15px; width:170px; float:left; color:#cf8629;}
.cupon_box li .right_c .line2 { margin-top:-12px; max-height:48px; width:100%; overflow:hidden;}
.cupon_box li.unable { background-image:url(../images/cupon_02.png); cursor:default;}
.cupon_box li.unable .right_c { color:#969696;}
.cupon_box li .del { display:none; position:absolute; right:8px; top:2px; color:#646464;}
.cupon_box li.on { background-image:url(../images/cupon_03.png);}
.cupon_box li.on .del { display:block;}
.cupon_text{ padding:0 0 11px 20px;}
.cupon_box_none{ text-align:center;height:100px; line-height:100px; font-size:14px;color:#969696;}
.cupon_box li .mask {  background-color: #0d0d0d;  opacity: 0.8;  filter: alpha(opacity:80);  width: 175px; height: 36px; position: absolute; left:55px; top:30px;}
.cupon_box li .sorry {background: url(../images/pop_shipping.png) 0 -68px no-repeat; padding-left: 25px; line-height: 20px; color: #fff; position: absolute; left:65px; top:38px;}

/* 结算 */
.total { border-top:1px solid #e6e6e6; padding:5px 0 10px; text-align:right; line-height:26px;}
.total .border { border-bottom:1px solid #e6e6e6; padding:5px 0; width:228px; display:inline-block;}
.total p { position:relative;}
.total p .tag { color:#fc2c3a; border:1px solid #fc2c3a; border-radius:3px; line-height:20px; height:20px; display:block; padding:0 6px; position:absolute; top:2px; right:165px; white-space: nowrap;}
.total .name { width:125px; display:inline-block;}
.total .price { width:100px; text-align:left; display:inline-block;}
.total .gray { color:#969696;}
.total .gray .price { text-decoration:line-through;}
.total input[type="text"], .total input[type="password"] { height:24px; line-height:24px; width:95px; padding:0 5px; border: 1px solid #d2d2d2; margin:5px 0 5px 10px; *vertical-align:middle;}
.total_price { padding:8px 0 3px;}
.total_price .name { font-size:14px;}
.total_price .price { font-size:18px;}
.total .confirm { border-top:1px solid #e6e6e6; background-color:#f1f5f8; padding:15px 20px 20px 0;}
.total .confirm .big { font-size:14px;}

.submit { width:960px; margin:0 auto; background:#f1f5f8;}
.submit .box { width:920px; padding:20px; margin:0 auto; text-align:right; color:#646464; line-height:36px; height:36px;}
.submit .box .btn_red { height:36px; line-height:36px; font-size:16px; padding:0 26px; margin-left:20px;}
.submit .box .price { color:#323232; font-size:14px; padding:0 4px 0 20px;}
.submit .box .price .red { font-size:18px;}
.submit.alart_box { background-color:#fff5f5;}
.submit .alart_con { width:940px; padding:10px; margin:0 auto; text-align:right; color:#646464; line-height:22px; border-bottom:1px solid #ffe3e3;}
.submit .box.tip_tuan { padding:0 20px; height:76px; line-height:20px; position:relative;}
.submit .box.tip_tuan .btn_red { margin-top:20px; vertical-align: middle;}
.submit .box.tip_tuan p {padding-left:14px; color:#ff2732; font-size:12px; position:absolute; right:155px; bottom: 20px;}

/* 弹窗 */
.pop { border:1px solid #cdcdcd; position:relative; display:inline-block; *display:inline; *zoom:1; background-color:#fff;}
.pop .close { position:absolute; top:10px; right:10px; width:13px; height:13px; display:block; background:url(../images/icon_close.png) 0 0 no-repeat;}
.pop .modify { position:absolute; top:0px; right:10px;}
.pop .pop_title { height:36px; line-height:36px; padding:0 10px; border-bottom:1px solid #cdcdcd; font-size:14px;}
.pop .pop_con { padding:15px;}
.pop .btn_bar { text-align:center; padding:0 0 5px;}
.pop .btn_bar .btn { height:28px; line-height:28px; padding:0 20px; margin:0 0 0 20px; font-size:14px;}
.pop .nomal_tips { padding:5px 8px; line-height:16px; color:#505050;}
.nomal_tips.narrow { width:120px; padding:10px 8px;}
.nomal_tips.middle { width:204px; padding:8px;}
.info_list ul { padding:15px; font-size:14px; line-height:32px;}
.info_list li { padding:12px 0; position:relative;}
.info_list li .name { width:76px; text-align:right; padding-right:10px; display:inline-block; vertical-align:top;}
.info_list li input[type="text"], .info_list li input[type="password"] { height: 30px; line-height: 30px; width: 150px; padding: 0 5px; border: 1px solid #d2d2d2; margin: 0  15px 0 0; border-radius:3px;}
.info_list li .alart_tip { left:90px; font-size:12px;}
.info_list li .select_add { position:relative; display:inline-block; font-size:12px; *display:inline; *zoom:1;}
.info_list li .text { display: inline-block; height:30px; padding:0 12px 0 8px; color:#505050; margin-right:8px; border: 1px solid #d2d2d2; border-radius:3px; line-height:30px; background: url(../images/area_drop.png)  right bottom no-repeat #fff; z-index:8; position:relative;}
.info_list li .text.text_hover { border-bottom: 0;border-radius:3px 3px 0 0;}
.info_list li .area_pop { position:absolute; width:369px; border:1px solid #ccc; background-color:#fff; z-index:7; padding:0 2px; top:30px; left:0;;min-height:88px;_height:expression(this.scrollHeight < 88 ? "88px" : "auto");}
.info_list li .area_pop .tab{height:27px;border-bottom:1px solid #d2d2d2; padding:0;}
.info_list li .area_pop .tab li{height:20px;float:left;margin:7px 0 -1px 7px;padding:0 6px;_display:inline;background:#f1f1f1 url(../images/icon_drop.png) no-repeat right 5px;padding-right:12px;}
.info_list li .area_pop .tab li.choose{height:20px;padding:0 13px 0 6px;border:1px solid #ccc;border-bottom:0;background-color:#fff;}
.info_list li .area_pop .tab li.choose a { color:#ff2832;}
.info_list li .area_pop .tab li a,.info_list li .area_pop .tab li a:hover{font:14px/20px "Microsoft Yahei";color:#464646;display:block;text-decoration:none;max-width:57px;overflow:hidden;height:20px;}
.info_list li .area_pop .list{padding:8px 0 0 17px;min-height:88px;_height:expression(this.scrollHeight < 88 ? "88px" : "auto");width:352px;float:left;overflow:hidden; font-size:12px;}
.info_list li .area_pop .list li{float:left;padding:0 0 0 3px;line-height:22px;width:85px;overflow:hidden;height:22px;}
.info_list li .area_pop .list_notaligned li{width:auto;margin-right:15px;float:none;display:inline-block;*display:inline;*zoom:1;}
.info_list li .area_pop .list a{color:#787878;text-decoration:none;}
.info_list li .area_pop .list a:hover{color:#ff2832;}
.info_list li .warn { border-color:#ff2832;}
.info_list li .link { font-size:12px;}
.info_list li .drop_tip { position:absolute; left:86px; top:42px; border:1px solid #d2d2d2; background-color:#fff; padding:0; max-height:202px; width:160px; z-index:10; overflow:auto;}
.info_list li .drop_tip li { padding:0 0 0 10px; font-size:12px; line-height:22px; cursor:pointer;}
.info_list li .drop_tip li:hover { background-color:#f5f5f5;}
.info_list li .drop_tip li.active { background-color:#f5f5f5;}
.info_list li span.tip { font-size:12px;}
.info_list li .msg_con { display:inline-block; *display:inline; *zoom:1; font-size:12px;}
.info_list li .msg_con input[type="radio"] { vertical-align:text-bottom; margin:0 3px 0 0;}
.info_list li .msg_con label { margin-right:30px;}
.info_list li .msg_con .msg_txt { width:490px; height:120px; border:1px solid #d2d2d2;}
.info_list li .msg_con .msg_t { width:496px;}
.pop_con.gift_con { padding:15px 40px 15px 0;}
.pop .pop_intro { line-height:22px;}
.pop .out_list { width:400px; max-height:175px; overflow:auto; margin:10px 0 0; position:relative;}
.pop .out_list li { float:left; line-height:22px; width:185px; height:70px; overflow:hidden; margin-bottom:20px; padding-right:5px;}
.pop .out_list .img { float:left; margin:0 10px 0 5px; position:relative;}
.pop .out_list .img .icon, .pop .out_area .v_out ul li.img .icon { top:45px; bottom:auto; left:-5px;}
.pop .out_list .name { line-height:16px; height:32px; overflow:hidden; margin-bottom:8px;}
.pop .out_list p { color:#787878; line-height:16px;}
.pop .out_area { width:400px; max-height:230px; overflow:auto; margin:0 0 10px 0; position:relative;}
.pop .out_area .out_list { max-height: none; width:auto; border-bottom:1px solid #dcdcdc; margin-bottom:10px;}
.pop .out_area .icon_tip_s { margin-top:2px;}
.pop .out_area .line_t { display: inline-block; width: 342px; vertical-align: top; line-height: 18px;}
.pop .out_area .v_out { padding:10px 0 20px; margin-bottom:10px; overflow:hidden; position:relative; border-bottom:1px solid #dcdcdc;}
.pop .out_area .v_out .arrow { position:absolute; z-index:99; left:0; top:50%; margin-top:-24px; width:28px; height:42px; display:block; background:url(../images/arrow.png) 0 0 no-repeat;}
.pop .out_area .v_out .arrow.right { right:0; left:auto; background-position:-28px 0;}
.pop .out_area .v_out .arrow:hover { opacity:0.5; filter:alpha(opacity=50);}
.pop .out_area .v_out .arrow.disable { cursor:default; opacity:0.4; filter:alpha(opacity=40);}
.pop .out_area .v_out ul { width:10000px; height:104px; position:relative; padding-left:5px;}
.pop .out_area .v_out ul li { float:left; margin-right:20px; width:70px; position:relative;}
.pop .out_area .v_out ul li .name { height:32px; overflow:hidden; line-height:16px; margin-top:4px;}
.pop .out_area .v_out.invoice_out { border-bottom:none 0; padding:10px 0;}
.pop .out_area .v_out.invoice_out ul { height:70px; padding:0;}
.pop_con.package { padding:20px 28px; min-width:355px;}
.package p { line-height:24px; padding:4px 0;}
.package p.info { padding:8px 0 20px;}
.package p input[type="text"],.invoice_con input[type="text"] { height: 28px; line-height: 28px; width: 110px; padding: 0 5px; border: 1px solid #d2d2d2; margin: 0 10px; border-radius: 2px;}
.package_list { padding:0 0 5px 20px;}
.package_list li { border:2px solid #fff; width:154px; text-align:center; line-height:14px; margin-right:5px; display:inline-block; *display:inline; *zoom:1; padding:5px 0;}
.package_list li:hover, .package_list li.current { border-color:#ff2832;}
.package_list li a { text-decoration:none;}
.package_list li span { display:block; width:100%;}
.package_list li em { font-style:normal;}
.package_show { padding:5px 0 5px 20px; line-height:26px;}
.package_show img { margin-right:10px; vertical-align:middle;}
.package_show span { padding-right:10px;}
.package_out .out_list { width:360px; max-height:160px; padding-left:20px;}
.package_out .out_list li { width:80px; margin-bottom:10px;}
.card_show span { padding:0 0 0 5px; }
.card_show em { font-style:normal;}
.card_show span img { vertical-align:middle; margin-right:5px;}
.package .giftpacking_letter{width:419px;height:360px;background:url(../images/letter.jpg);position:relative;margin:10px 0 10px -5px;z-index:8;}
.package .giftpacking_letter textarea{position:absolute;left:65px;top:55px;width:290px;height:240px;background:transparent;line-height:35px;overflow: hidden;border:none;color:#969696;font-size:14px;outline:none;resize:none;letter-spacing:2px}
.package .giftpacking_letter_title{position:absolute;left:95px;top:29px;height:22px;line-height:22px;background:transparent;border:none;outline:none;color:#969696;font-size:14px;width:144px;}
.package .giftpacking_letter_end{position:absolute;right:70px;bottom:30px;height:22px;line-height:22px;background:transparent;border:none;outline:none;color:#969696;font-size:14px;width:144px;text-align:right;}
.package .giftpacking_letter_tips{position:absolute;top:22px;right:58px;color:#969696;height:26px;line-height:26px;}
.package .giftpacking_letter_tips span{font-family:  Georgia,Constantia;font-weight: 500;font-size: 24px;font-style: italic;margin:0 2px;}
.pop_con .tip_con { padding:30px; width:260px; line-height:24px; font-size:14px;}
.pop_con .tip_con p { display:inline-block; *display:inline; *zoom:1; width:230px;}
.pop_con .tip_con .icon_tip { vertical-align:top; margin-top:4px;}
.pop_con .tip_con .icon_tip_s { vertical-align:top; margin-top:5px;}
.pop_con .tip_cons { text-align:center; padding:25px 10px; }
.pop_con .tip_cons p { width:auto;}

.invoice_title { padding:20px 30px 15px; background-color:#f1f5f8; margin:-15px -15px 5px; line-height:28px;}
.invoice_title span { color:#323232;}
.invoice_title span.red { color:#ff2832; font-size:12px; display:inline-block;}
.invoice_title input[type="radio"] { margin-left:20px; vertical-align: text-top; vertical-align:middle\9;}
.invoice_title input[type="text"],.invoice_title select { border:1px solid #dcdcdc; padding: 0 0 0 10px; width:210px; height:28px; line-height:28px; border-radius:2px; vertical-align:top;}
.invoice_title label { padding:0; margin:0;}
.invoice_title .btn { line-height:28px; height:28px; font-size:12px;}
.invoice_title select { height:30px; padding: 0 0 0 5px; width:222px;}
.invoice_title p { padding-top:5px;}
.invoice_title .pl { padding-left:48px;}
.invoice_box { max-height:340px; overflow:auto; padding:0 15px; margin:0 0 20px;}
.invoice_con { border-bottom:1px solid #e6e6e6; padding:15px 0; color:#323232;}
.invoice_con dt,.invoice_con dd { display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.invoice_con dt { width:90px; padding-right:15px; text-align:right; line-height:30px;}
.invoice_con dl .tip { color:#999; padding:0 0 15px 108px; *padding-left:0;}
.invoice_con .method li { display:inline-block; *display:inline; *zoom:1; padding:0 10px 10px 0;}
.invoice_con .method a { height:28px; line-height:28px; text-align:center; padding:0 14px; border:1px solid #dcdcdc; border-radius:2px; background-color:#f0f0f0; display:inline-block;}
.invoice_con .method a:hover { text-decoration:none; color:#ff2832;}
.invoice_con .method a.current { background:#ff2832; border-color:#ff2832; color:#fff;}
.invoice_con .method a.disable, .invoice_con .method a.disable:hover { background-color:#f5f5f5; border-color:#f5f5f5; color:#aaa; cursor:default;}
.invoice_con dd select { height:30px; line-height:30px; border:1px solid #d2d2d2; margin:0 10px 10px 0; border-radius:2px; padding-left:5px;}
.invoice_con input[type="text"] { margin-left:0; margin-bottom:10px;}
.invoice_con .info { background-color:#f5f5f5; padding:5px 20px; line-height:22px; max-width:600px;}
.pop .invoice_bar { position:relative; *position:static;}
.invoice_bar .shadow { height:10px; width:100%; position: absolute; left:0; top:-30px; background:url(../images/shadow.png) 0 0 repeat-x; z-index:9;}
.popup_self {*width:780px;}
.popup_self .step { line-height:14px; padding:5px 0 15px; color:#646464;}
.popup_self .step span{ width:14px; height:14px; display:inline-block; margin-right:5px; background:url(../images/icon_self.png) 0 -28px; vertical-align:text-bottom;}
.popup_self .step span.sp2 { background-position:0 -43px; margin-left:15px;}
.popup_self .step span.sp3 { background-position:0 -58px; margin-left:15px;}
.popup_self .search { margin-bottom:20px; height:20px;}
.popup_self .search select, .popup_self .search input { padding:0 0 0 10px; border:1px solid #e6e6e6; margin-right:10px; float:left; border-radius:2px;}
.popup_self .search select { height:20px; line-height:20px; width:80px;}
.popup_self .search input { height:18px; line-height:18px; width:300px;}
.popup_self .search a { border:1px solid #e6e6e6;height:18px; line-height:18px; width:76px; text-decoration:none; float:left; text-align:center; color:#505050; background-color:#f5f5f5; border-radius:2px;}
.popup_self .search a:hover { background-color:#f0f0f0;}
.popup_self .map { margin-bottom:8px; font:12px/22px Arial,"\5b8b\4f53"; border-top:1px solid #f2eeea;}
.popup_self .map .detail_address { margin:0;}
.popup_self .map .address_map_img { width:485px;height: 404px; border: 1px solid #d5d5d5; position: relative; overflow: hidden;}
.popup_self .map li { padding:2px 0;}
.popup_self .map li strong { display: inline-block;height: 18px;margin-left: 2px;overflow: hidden;width: 130px;top:1px;+height: 22px;+top:0;}
.popup_self .map li .point_radio { margin:0; padding:0;  color: #404040; *margin:0 -3px;}
.popup_self .map .text_indent { line-height: 21px; padding-left: 16px; height: 42px; width: 214px; overflow: hidden;}
.popup_self .tip { color:#ff6666; line-height:16px; padding-bottom:15px;}
.popup_self .tip em { width:16px; height:16px; display:inline-block; vertical-align:top; background:url(../images/icon_self.png) -20px -28px; margin-right:5px;}
.popup_self .turn_prev_next_page{+margin-top:-2px;_margin-top:3px;width: 76px;float: right;}
.popup_self .turn_prev_next_page .previous,.popup_self .turn_prev_next_page .next,.popup_self .turn_prev_next_page .prev_lastpage,.popup_self .turn_prev_next_page .next_lastpage,.popup_self .turn_prev_next_page .previous_hover,.popup_self .turn_prev_next_page .next_hover{background:url(../images/left_right.png) no-repeat;display: block;width: 22px;height: 22px;float: left;cursor: pointer;}
.popup_self .turn_prev_next_page .previous{background-position:0 -25px;}
.popup_self .turn_prev_next_page .next{background-position:-26px -25px;}
.popup_self .turn_prev_next_page span.previous:hover,.popup_self .turn_prev_next_page span.previous_hover{background-position:0 -55px;}
.popup_self .turn_prev_next_page span.next:hover,.popup_self .turn_prev_next_page span.next_hover{background-position:-26px -55px;}
.popup_self .turn_prev_next_page .prev_lastpage{background-position:0 2px;cursor:default;} /*最前一页*/
.popup_self .turn_prev_next_page .next_lastpage{background-position:-26px 2px;cursor:default;} /*最后一页*/
.popup_self .turn_prev_next_page strong.now,.popup_self strong.total{float: left;height: 22px;line-height: 23px;}
.popup_self .turn_prev_next_page strong.now{color: #f60;}
.popup_self .choose_address{background-color: #fff;padding:10px;_padding-bottom:0px;width: 230px;height:394px;_height:404px;float: left;border-left:#f2eeea solid 1px;border-bottom:#eae7e3 solid 1px;}
.popup_self .choose_address .title_num{text-align: center;border-bottom: 1px solid #f7f3ef;}
.popup_self .choose_address .title_num .number{color: #ff2832;}
.popup_self .choose_address strong{margin-left:2px;position: relative;top: -1px; padding:0; border:none;}
.popup_self .address_map{background-color: #fff;padding:4px;float:left;border-right:#f2eeea solid 1px;border-bottom:#eae7e3 solid 1px;}
.popup_self .Imhere, .popup_self .stationary{position: absolute;left: 100px;top: 98px;}
.popup_self .Imhere{background:url(../images/Imhere.png) no-repeat;display: block;left:180px;top:50px;width: 51px;height: 49px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/Imhere.png",sizingMethod="noscale");_background:none;}
.popup_self a.stationary{background:url(../images/stationary.png) no-repeat;display: block;width: 19px;height: 28px;color:#f60;font-weight: bold;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/stationary.png",sizingMethod="noscale");_background:none;}
.popup_self a.stationary span{position: absolute;display: block;width: 15px;height: 15px;font-size: 9px;color:#f60;font-weight: bold;top:-1px;left: 2px;text-align: center;vertical-align: center;}
.popup_self .popup_infor_area{background:url(../images/popup_infor_bg.png) repeat;position: absolute;top:133px;left: 80px;padding: 6px; width: 259px;_background:none;}
.popup_self .popup_infor{background-color: #fff;padding: 22px; width: 215px;z-index: 10;}
.popup_self .popup_infor p{line-height: 20px;}

.popup_limit { width:506px; max-height:390px; overflow:auto;}
.popup_limit .tips { height:40px; line-height:40px; padding:0 20px; background-color:#f5f5f5;}
.popup_limit .goods_lists { overflow:hidden;}
.popup_limit .goods_lists dt, .popup_limit .goods_lists dd, .popup_limit .goods_lists .name, .popup_limit .goods_lists .num { display:inline-block; *display:inline; *zoom:1; vertical-align:middle;}
.popup_limit .goods_lists dt { width:390px; padding-left:10px; border-right:1px solid #dcdcdc;}
.popup_limit .goods_lists dt .goods { border-bottom:1px solid #dcdcdc;}
.popup_limit .goods_lists dt .name { padding:15px 6px 10px; width:270px; line-height:18px;}
.popup_limit .goods_lists dt .name p { margin-bottom:5px;}
.popup_limit .goods_lists dt .num { padding-left:16px;}
.popup_limit .goods_lists .num_l { text-align:center; width:82px;}
.popup_limit .goods_lists .num_l .red { display:block; padding:5px 0 7px;}
.pop .limit_bar { padding:15px 0; background-color:#f1f5f8;border-top:1px solid #dcdcdc;}
.pop .limit_bar a { font-size:12px !important;}

.masks{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:999;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));_height:expression(eval(document.documentElement.clientHeight)); background-color:#000;filter:alpha(opacity=20);opacity:0.2;}
.pop_loading { position:fixed; top:50%; left:50%; margin:-70px 0 0 -70px; z-index:999;}
.pop_loading2 {min-height:400px; width:960px; margin:0 auto; text-align:center; z-index:999;}
.pop_loading2 img { margin-top:130px;}

.footer { border-color:#ff2832 !important;}

/* 调查 */
.fixedbar { left: 50%; margin-left: 485px; position: fixed; bottom: 103px; _position: absolute; _top: expression(eval(documentElement.scrollTop+document.documentElement.offsetHeight-213));}
.window_suspend { width:18px; text-align:center; padding:6px 0; border: solid 1px #e4e4e4; border-radius: 2px; background: #fff; line-height:16px;}
.window_suspend a { text-decoration: none; font-size: 12px; color: #878787;}

/*不支持7天无理由退换货*/
.no_return{background-color: white;margin:2px auto;}
.no_return .content {border-bottom: 1px solid #e6e6e6;padding:0 10px;}
.no_return .content p{color:#323232;}
.no_return .content .title_label{margin:30px 0 10px 0}
.no_return .content ul.list_product {padding-left: 16px;overflow:hidden;}
.no_return .content ul.list_product li{width:450px;height:48px;float:left;padding:1px;}
.no_return .content ul.list_product li:hover{border:1px solid #e6e6e6;padding:0;}
.no_return .content ul.list_product li p{float: left;width: 336px;height: 36px;line-height: 18px;color: #646464;overflow:hidden;margin: 5px 0 0 10px;}
.no_return .content ul.list_product li .back_cart{float:right;margin: 8px 12px 0 0;color:#2068b7;}
.no_return .content ul.list_product li .back_cart:hover{color:#ff2832;}
.no_return .content .info_icon{display: inline-block;width:16px;height:18px;vertical-align: middle;background: url("../images/seven_return.png") no-repeat 0 0;margin-right:12px;}

.no_return .content .show_down {text-align: right;margin: 5px 0 12px 0;}
.no_return .content .show_down a{color:#2068b7;margin-right: 30px;}
.no_return .content .show_down a .drop_icon{display: inline-block;width: 16px;height: 15px;vertical-align: middle;background: url("../images/seven_return.png") no-repeat 0 -24px;margin-left: 8px;}
.no_return .content .show_down a .drop_icon.up_icon{background-position: 0 -35px;}
.no_return .confirmed{text-align: right;padding: 15px 45px 12px 0;}
.no_return .confirmed .please_check{background: url("../images/please_check.png") no-repeat;}

/*alert.html添加弹窗*/
.pop_preview {width:440px; height:650px;position: fixed; left:50%; top:50%; margin:-326px 0 0 -220px; z-index:1000; background-size:100% 100%;}
.pop_preview .close{top:20px;right:20px;}

/* 手机验证码 */
.pop .code { color:#303030; width:250px; margin:20px 15px 0; line-height:24px; font-size:14px;}
.pop .code_line { border-bottom:1px solid #e4e4e4; padding:15px 0 10px; margin-bottom:20px;}
.pop .code_line input { background:none; border:none; height:30px; line-height:30px; width:; color:#323232; font-size:18px; letter-spacing:8px; padding-left:6px; width:158px;}
.pop .code_line .send { border:1px solid #a0a0a0; color:#303030; text-align:center; width:84px; height:30px; line-height:30px; display:inline-block; border-radius:5px; text-decoration:none;}

/* 电子礼品卡自动发货 */
.e_card { padding-bottom:5px;}
.e_card ul { height:30px; margin:10px 0 20px;}
.e_card li { border:1px solid #505050; width:118px; text-align:center; height:28px; background-color:#fff; line-height:28px; float:left; font-size:12px; margin-right:10px; border-radius:3px;}
.e_card li.on { border-color:#ff2832; background-color:#ff2832; color:#fff;}
.e_card .btn { height:28px; line-height:28px;}



/* 礼品包装：结算页价格提示 */
.ship_box .right .list td .jifen_pop { position:absolute; color:#fc6769; background-color:#ffedeb; right:25px; top:25px; height:30px; line-height:30px; padding:0 5px; white-space:nowrap;}
.ship_box .right .list td .jifen_pop span {color:#ffedeb; position:absolute; right:10px; top:-10px; font-size:18px; line-height:18px;}
.tips_price {color:#7a7a7a; margin:10px auto;}

/* 积分优惠购 */.jifen .pop_con { padding:15px 30px;}
.jifen .out_area { max-height:340px;margin:0;}
.jifen .red_tip { background-color:#ffedeb; height:30px; line-height:30px; padding:0 10px; color:#fc6769;}
.jifen .out_area .out_list { margin:20px 0;}
.jifen .out_list li { padding:0; width:100%;}
.jifen .out_list .name { margin-bottom:20px;}
/*新增满额折*/
.cupon_box li .right_c.add_third{margin-top:-10px;}
/*结算发票增加删除功能*/
.invoice_title{position:relative}
.invoice_title .option {width: 220px;background: white;border: 1px solid #dcdcdc;border-top: none;position: absolute;left: 102px;top: 83px;}
.invoice_title .option .op {display: block;padding: 0 0 0 10px;cursor:pointer;border-bottom: 1px solid #dcdcdc;}
.invoice_title .option .op.last{border-bottom:none;}
.invoice_title .option .op:hover{background: #ebebeb;}
.invoice_title .option .op .close_icon{background: url(../images/del_icon.png) no-repeat;width: 10px;height: 10px;float: right;margin: 9px 10px 0 0;display: none;}
.invoice_title .option .op:hover .close_icon{display: block;}
