<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.heuet.Mapper.MassageMapper">
    <insert id="createMassage" parameterType="edu.heuet.Pojo.Massage">
        insert into
        massage(inforid, sender, receiver, sendtime, content,msgstate)
        values(#{inforid},#{sender},#{receiver},#{sendtime},#{content},#{msgstate})
    </insert>

    <select id="getMassage" parameterType="java.lang.Integer" resultType="edu.heuet.Pojo.Massage">
        select * from massage where receiver=#{userid}
    </select>
</mapper>