<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.heuet.Mapper.OrderMapper">

    <!--生成订单-->
    <insert id="insertOrder"    keyProperty="edu.heuet.Pojo.OrderInfo">

        insert into
            booksell.orders(OrderId, Buyer, Seller, BookId, OrderState, Price, OrderTime)
            values(#{OrderId},#{Buyer},#{Seller},#{BookId},#{OrderState},#{Price},#{OrderTime})
    </insert>
    <insert id="insertOrders" parameterType="java.util.List">
        insert into
        orders(OrderId, Buyer, Seller, BookId, OrderState, Price, OrderTime) values
        <foreach collection="list" item="orderInfo" separator="," close=";">
            (#{orderInfo.OrderId},#{orderInfo.Buyer},#{orderInfo.Seller},#{orderInfo.BookId},#{orderInfo.OrderState},#{orderInfo.Price},#{orderInfo.OrderTime})
        </foreach>
    </insert>

    <!--  查询全部  -->
    <select id="selectOrders" resultType="edu.heuet.Pojo.OrderInfo">
        select * from orders
    </select>
    <!--  根据买家ID（Buyer）查询  -->
    <select id="selectOrderByBuyer" resultType="edu.heuet.Pojo.OrderInfo" parameterType="int">
        select * from orders where Buyer=#{orderInfo.Buyer}
    </select>
</mapper>
