#cimc {
  /* position: absolute; 
  top:15%;
  */
  position: fixed;
  top: 80px;
  left: 50%;
  display:none;
  width: 1130px;
  height: 80%;
  max-height: 830px;
  border-radius: 10px; /* 娌＄敤鍟� */
  transform: translate(-50%,0);
  box-shadow:0px 2px 23px 0px rgba(220,220,220.5);
  z-index: 1000000; 
}
/* 
.imc-header {
  display: flex;
  height: 65px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #484444;
}
.custService_avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  vertical-align: middle;
}
.custService_name {
  font-size: 15px;
} 
*/
.imc-main {
  height:100%;
  overflow: hidden;
  border-radius:10px;
}
/* 鏈€灏忓寲鑱婂ぉ */
#cimn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 240px;
  height: 64px;
  padding-left:12px;
  border-radius: 4px;
  font-size:15px;
  font-weight: 800;
  color: #131313;
  background:#fff;
  line-height: 64px; 
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 2px 23px 0px rgba(220,220,220.5);
  overflow: hidden;
  z-index: 1000001;
}

#cimn.newMsg>span{ /* 鏂版秷鎭皬绾㈢偣 */
  position: absolute;
  left:50px;
  top:13px;
  /* display:none; */
  width:10px;
  height: 10px;
  border-radius:50%;
  background: #FB3433;;
  z-index:20;
}

#cimn > img{
  position: relative;
  width:45px;
  height:45px;
  border-radius: 50%;
  margin-right:10px;
  vertical-align: middle;
}


/* # 淇℃伅鎻愮ず妗� */
#cime{
  position:fixed;
  top:25px;
  left:50%;
  display:none;
  width:400px;
  padding:20px;
  border-radius: 2px;
  font-size:22px;
  color:#fff;
  background:rgba(0,0,0,.6);
  text-align:center;
  transform: translateX(-50%);
  z-index:1000001;
}
