/* ## 1 */
.roomList{
    position: relative;
}
.room-serach{
    position: relative;
    height:3.25rem;
    // padding:.8rem .6rem;
    padding:.8rem 0;
    // border-bottom: 1px solid rgb(231,231,233);
    border-bottom: 1px solid #E7E7E9;
    background: #FAFAFA;
    text-align: center;
    &>input{
        // width:116rem;
        width:90%;
        height: 1.7rem;
        padding:.35rem .5rem;
        border:1px solid #DCDCDC;
        border-radius: .2rem;
        font-size:.7rem;
    }
    &>.icon{  // 清空
        position: absolute;
        // right:(.6rem+.8rem);
        right:1.2rem;
        top:(3.25rem/2-.6/2);
        // display: inline-block;
        width:.6rem;
        height:.6rem;
        width:.7rem;
        height:.7rem;
        background-position: -627px/3 -152px/3 ;
    }
}
/* ## 2 */
.room-list{
    position: absolute; // 
    top:3.25rem;
    bottom:0;
    left:0;
    right: 0;
    list-style:none;
    color:#f00;
    overflow-y: auto;
}
.room-item{
    position: relative;
    // height:2.25rem;
    padding:.65rem .6rem;
    padding-right:1.4rem; // 关闭按钮
    font-size:.7rem;
    color: #323232;
    cursor:pointer;
    &>output{
        position: absolute;
        top:.1rem;
        left:1.55rem;
        // width:.8rem;
        // height:.7rem;
        padding:0 0.25rem;
        // border-radius:40%;
        border-radius:2rem;
        font-size:.6rem;
        color:#fff;
        background:rgba(255,0,0,.75);
        line-height:.8rem;// 垂直居中 
        text-align: center;
    }
    &>img{
        width:1.4rem;
        height:1.4rem;
        border-radius: 50%;
        margin-right: .4rem;
        vertical-align: middle;
    }
    &>.icon{ // .room-item-close
        position: absolute;
        top:50%;
        right:.6rem;
        display:none;
        width:.4rem;
        height:.4rem;
        color:#ADADAD;
        background-position: -683px/3 -152px/3;
        transform: translateY(-50%);
        cursor:pointer;
    }
    &:hover{
        .icon{
            display:block;
        }
    }
}
.room-item-activated{
    background: #F3F4F5;
}
