*{
    margin: 0px;
    padding: 0px;
}
#container{
    position: relative;
    padding: 8px;
}
.box{
    padding: 8px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.box_img{
    padding: 15px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}
.box_img{
    width: 200px;
    height: 380px;
}