/*我的当当 右侧浮条*/
/**侧边栏**/
.sidebar_wrap {position:fixed;top:0;right:0;z-index:100000;height:100%;_position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop));}
.sidebar_wrap .sidebar{position:absolute;_position:relative;right:0;top:0;width:42px;padding:0; margin:0; height:100%; background-color:#323232; zoom:1;}
.sidebar_wrap .sidebar .sale { position:absolute; top:0; left:0; width:42px; height:170px;}
.sidebar_wrap .sidebar_code2 { margin:180px auto 6px; position:relative;}
.sidebar_wrap .sidebar_code2 .code2s { background:url(http://myhome.dangdang.com/static/images/sidebar_icon.png) 0 0 no-repeat; display:block; width:42px; height:28px;}
.sidebar_wrap .sidebar_code2 .code2b {position: absolute; width:100px; height:125px;left: -113px;top: 0;z-index: 3; padding:6px; border:1px solid #e6e6e6; border-right:none 0; background-color:#fff;}
.sidebar_wrap .sidebar_code2 .code2b img { border:none 0; width:100px; height:125px;}
.sidebar_wrap .sidebar_code2 iframe {position: absolute; width:113px; height:139px;left: -113px;top: 0;z-index: 2;}
.sidebar_wrap .sidebar_cart {text-align:center;}
.sidebar_wrap .sidebar_cart a { font:14px/14px "Microsoft Yahei"; color:#fff; text-decoration:none; display:block; width:42px; height:120px; padding:8px 0 5px;}
.sidebar_wrap .sidebar_cart a:hover { background-color:#ff3228;}
.sidebar_wrap .sidebar_cart a span { background:url(http://myhome.dangdang.com/static/images/sidebar_icon.png) 0 -50px no-repeat; display:block; height:24px; margin-bottom:8px;}
.sidebar_wrap .sidebar_cart a:hover span { background-position:-42px -50px;}
.sidebar_wrap .sidebar_cart a em { width:28px; height:28px; border-radius:14px; background-color:#ff3228; line-height:28px; font-size:12px; font-style:normal; display:block; margin:12px auto;}
.sidebar_wrap .sidebar_link { position:absolute; bottom:33px; text-align:center; width:42px;}
.sidebar_wrap .sidebar_link a { display:block; font:14px/16px "Microsoft Yahei"; color:#fff; text-decoration:none; width:42px; height:40px; position:relative;}
.sidebar_wrap .sidebar_link .collect { background:url(http://myhome.dangdang.com/static/images/sidebar_icon.png) 1px -84px no-repeat;}
.sidebar_wrap .sidebar_link .collect:hover { background-position:-42px -84px; background-color:#ff3228;}
.sidebar_wrap .sidebar_link .my_collection { background:url(http://myhome.dangdang.com/static/images/sidebar_icon.png) 0 -125px no-repeat;}
.sidebar_wrap .sidebar_link .my_collection:hover { background-position:-42px -125px; background-color:#ff3228;}
.sidebar_wrap .sidebar_link .back_top { background:url(http://myhome.dangdang.com/static/images/sidebar_icon.png) 0 -168px no-repeat;}
.sidebar_wrap .sidebar_link .back_top:hover { background-position:-42px -168px; background-color:#ff3228;}
.sidebar_wrap .sidebar_link .survey { width:30px; padding:4px 6px; height:32px; }
.sidebar_wrap .sidebar_link .survey:hover { background-color:#ff3228;}
.sidebar_wrap .sidebar_link .name { padding:0 10px 0 15px; width:64px; line-height:40px; display:none; background-color:#ff3228; position:relative; top:0; left:0;}
.sidebar_wrap .sidebar_link .on .name { display:block;}

.sidebar_wrap .sidebar_code2 .code2b{position: absolute;width:212px;height:134px;left:-222px;bottom:0;z-index: 3;padding:4px 4px 0;border:1px solid #ddd;background:#fff;}
.sidebar_wrap .sidebar_code2 .code2b span{float:left;width:106px;}
.sidebar_wrap .sidebar_code2 .code2b b{ text-align:center;display:block; margin:0 auto;color:#969696;height:18px; font:normal 12px/18px "simsun";padding:1px 0 3px;}
.sidebar_wrap .sidebar_code2 .code2b img{display:block;width:90px;height:90px; margin:0 auto;}